@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500&display=swap');

$navbar-color: black;
$transition-speed: 0.8s;
$transition-anim: ease;
*{
    box-sizing: border-box;
    margin: 0; 
}

body{
    margin: 0;      
    font-family: 'Zilla Slab', serif;

}
.global {
    margin-left: 3.5rem;
    padding: 4rem;
    // padding-top: 6rem;
    background: #ff00ee;
    
  }

.navbar {
    width: 3.5rem;
    height: 100vh;
    background-color: $navbar-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
 

    .navbar__link {
        transition: all  $transition-speed $transition-anim;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style: none;
        color: white;
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: auto; 
            position: absolute;
            bottom: 0;
            left: 0;
        }


    }
}

.navbar__link {
    svg {
        fill: white;
        width: 70%;
        height: 70%;
        transition: all $transition-speed $transition-anim;
    }

}


.navbar__link--text{
    opacity: 0;
    transition: opacity  $transition-speed $transition-anim;
    text-align: center;
    // overflow-wrap: anywhere;
}

.navbar__link:hover{
    background-color: lighten($navbar-color, 30%);
    padding: 0.1rem;
    border-radius: 5px;
 
    
    > svg{
        fill: yellow;
        filter: drop-shadow(0px 0px 6px red); 
    }
}
.navbar__link:hover{
    > .navbar__link--text{
        opacity: 1;
    }
}

.skill-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2 ,1fr);
    gap: 0.5rem 2rem;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 0.5rem;

}

.project-grid__item{
    background-color: lightpink;
    border-radius: 0.5rem;
    width: 20rem;
    height: 20rem;
}
.about-desc {
    max-width: 50rem;
}