@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500&display=swap');

$navbar-color: darken(#09054a , 5%);
$transition-speed: 0.8s;
$transition-anim: ease;
$large-text: 2.5rem;

:root {
    color: #dee3ed;
    background: #09054a;
    
}
*{
    box-sizing: border-box;
    margin: 0; 
    // padding: 0;
}

body{
    margin: 0;      
    font-family: 'Zilla Slab', serif;

}
.global {
   // margin-left: 3.5rem;
    padding: 4rem;
    // padding-top: 6rem;
  }

  .navbar{
      background-color: #09054a;
      height: 3.5rem;
      width: 100vw;
      position: fixed;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
          margin: 1rem;
      }

      .navbar__items {

        .navbar__items--link{
            margin: 1.9rem;
            font-size: 1.2rem;
            text-decoration: none;
            position: relative;
        }
      }
  }

  .navbar__items--link::after{
      content: '';
      width: 0%;
      height: 0.25rem;
     background: #d53369;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #cbad6d, #d53369);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #cbad6d, #d53369); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      ; 
      position: absolute; 
      top: 20px;
      bottom: 0%;
      left: 50%;
      margin-top: 5px;
      border-radius: 10px;
      transition: all 0.2s ease;
  }
  .navbar__items--link:hover::after{
    left: 0%;
    width: 100%;
  }



.skill-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2 ,1fr);
    gap: 0.5rem 2rem;
}

.skill-list__item::before{
    color: white;
    content: ' - ';
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 3rem;
   

}

.project-grid__item{
    background-color: #09054a;
    border-radius: 0.5rem;
    width: 20rem;
    height: 20rem;
    box-shadow: 0px 0px 10px #dee3ed;
  //display: flex;    //This fixed issue w/ github svg for some reason
    flex-direction: column;
    justify-content: center;
    transition: box-shadow 1s ease;
    text-decoration: none;
    color:#dee3ed;
    p {
        margin-bottom: auto; 
     }
    h1, p {
       text-align: center; 
    }

    a {
        text-decoration: none;
        color: #dee3ed;
    }
    &:hover {
        box-shadow: rgba(222, 227, 237, 0.56) 0px 22px 70px 4px;
    }
}
.project-grid__item--title {
    padding-bottom: 2rem;
}
.project__main-header {
    padding-bottom: 3rem;
}
.about-desc {
    max-width: 50rem;
}

.intro {
    h1 {
        font-size: $large-text;
    }
    p{
        font-size: 2rem;
    }
}



.intro__button {
    background-color: #09054a;
    color:#dee3ed;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: #dee3ed solid 0.1rem;
    font-family: 'Zilla Slab', serif;
    height: 50px;
    width: 100px;

    margin-top: 3rem;
    transition: all 0.4s ease;
    &:hover{

        // 
        // transition: height 2.4s ease;
        font-weight: bold;
        font-size: 15px;
        color: #09054a;
        background-color: rgba(222, 227, 237, 0.7);
    }
}