$navbar-color: black;
*{
    box-sizing: border-box;
    margin: 0; 
}

body{
    margin: 0; 
    
}
.global {
    margin-left: 3.5rem;
    padding: 1rem;
    // padding-top: 600rem;
    
  }

.navbar {
    width: 3.5rem;
    height: 100vh;
    background-color: $navbar-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
 

    .navbar__link {
        text-decoration: none;
        list-style: none;
        color: white;
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: auto; 
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

.skill-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(2 ,1fr);
    gap: 0.5rem 2rem;
}


.about-desc {
    max-width: 50rem;
}